
* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}
main {
  background-color: rgb(243, 243, 242);
  padding: 20px;
}
header{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.modal-btn a {
display: block;
text-align: center;
background-color: #BC3A0B;
width: 30%;
padding: 10px auto;
margin: 10px auto;
color: white;
font-weight: bold;
}

.about-me {
  margin-right: 40px;
}

.project p {
  line-height: 2;
  font-size: 20px;
}
.lang {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;

}

.lang li {
  padding: 0 15px 0 0;
}
.nav_lists{
  display: flex;
}

.nav_items, a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

.nav_items:first-child a, .social_list a{
  color:#BC3A0B;
}
.img {
  height: 150px;
  width: 150px;
}

.my-intro {
  margin-top: 20px;
  width: 50vw;
}

.column:hover {
  border:2px solid blue;  box-shadow: 0 0 10px #333; 
}
.social_links, .about{
  margin: 40px 0;
}
 .project-1 {
  padding: 10px;
  background-position: center;
  background: url(../images/rsz_1screenshot_from_2021-06-03_01-45-10.png);
  height: 350px;
  background-size:cover;

  margin: 15px auto;
}

.mytopic{
  color: #BC3A0B;
  font-weight: bold;
}

.lang-list button{
 margin-bottom: 10px;
 background-color: rgba(75, 73, 72, 0.6);
 border: solid 2px black;
 margin-right: 5px;
 padding: 5px;
}

.show-more button {
background: #BC3A0B;
 border: solid 2px black;
 width: 300px;
 height: 40px;
 color:white;
 text-align: center;
 margin-bottom: 30px;
 margin-top: 10px;
 font-weight: bold;
}

.resume button {
  background-color: #BC3A0B;
  border: solid 2px black;
  width: 50%;
  height: 40px;
  margin-top: 10px;
}

.lang-list button:hover {
  cursor: none;
}

.project-2 {
  padding-left: 10px;
  background:  url(../images/meal_recipe.png);
  height: 350px;
  background-size:cover;
  background-position: center;
  margin: 15px auto; 
}

.project-3 {
  padding-left: 10px;
  background:  url(../images/calculator.png);
  height: 260px;
  background-size: cover;
  margin: 15px auto;
  max-width: 400px;
}

.project-4 {
  padding-left: 10px;
  background: url(../images/readmes.png);
  height: 260px;
  background-size: cover;
  margin: 15px auto;
  max-width: 400px;
}

.project-5 {
  padding-left: 10px;
  background:  url(../images/readme.png);
  height: 260px;
  background-size: cover;
  margin: 15px auto;
  max-width: 400px;
}

footer {
  background-color:#BC3A0B;
  color: aliceblue;
}


.footer-details {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

form {
  width: 672px;
  margin: 30px auto;
}
input {
  padding: 8px;
  width: 100%;
}

input:first-child {
  margin-right: 10px;
}
.contact-btn, textarea  {
  width: 100%;
}

.contact-btn {
   background: #000000;
   margin-top: 20px;
}
textarea {
  height: 185px;
}
p {
  line-height: 2;
}

@media only screen and (max-width: 768px) {
  form {
    width: 100%;
  margin: 0 auto;
  }

input {
  margin-bottom: 10px;
}

.footer-details {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.resume button {
  margin-bottom: 20px;
}

header{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo, .my-intro{
  margin: 0 auto;
}

.my-intro {
  margin: 0 auto;
  width: 100%;
  }
}